
body {
    animation-duration: 4s;
    animation-name: aparecer;
    background-image: url(../Recursos/Imagenes/nico_celular.jpg);
    background-size: cover;
    background-color: rgb(28, 26, 27);
    font-family: 'Oswald', sans-serif;
    height: 100vh ;

}

@media (min-width: 700px) {
    body {
        background-image: url(../Recursos/Imagenes/nico_recortado2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        font-size: 20px;
        height: 100vh;

    }
}

a {
    text-decoration :none
   
}
li {
    list-style: none;
}

a:hover,a:visited,a:link {
    color: rgb(255, 255, 255);
    
  }


.HEADER {  
    padding: 10px;
    margin-top: 40px;
    color: aliceblue;            
}

.Indices_header {
display: flex;
/*justify-content: space-evenly;*/
flex-direction: column;
justify-content: center;
align-items: center;
}

@media (min-width: 700px) {
    .Indices_header {
        display: flex;
        /*justify-content: space-evenly;*/
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        }
}



.Indices {
    margin-top: 5px;
    padding: 3px;

}

.AREA { 
  
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
    height: 500px;
    color: rgb(255, 255, 255);

}

  
  @keyframes aparecer {
    0% {
     opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }


.FOOTER { 
    position: absolute;
    bottom: 0;
    
    color: aliceblue; 
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

.barra-iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-top: 50px;
    color: aliceblue;
    margin: 20px 30px 20px ;
    width: 5vh;
    height: 5vh;
}

.parrafo_footer {
    animation-name: aparecer;     
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
   }






